.app {
  text-align: center;
  background-image: url('https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/0c691357-a0e1-43a9-b820-6b265a906a50/c537be11-b380-4584-984d-3a1ef2e0a3bd.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
