.app {
  text-align: center;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fwhite%2520background%2F&psig=AOvVaw11i5FMyLcXSEOPJRn9SfVw&ust=1720669378383000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLiUsI3Hm4cDFQAAAAAdAAAAABAZ');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
