body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.card {
    background-color: white;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}



.shimmer-wrapper {
    overflow: hidden;
    position: relative;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    animation: shimmer 1.5s infinite linear;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.pie-chart-container {
    border: 2px solid #F5DEB3; /* Light biscuit color */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

.pie-chart-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
}

.card-1 {
    background-color: #f8b195;
}

.card-2 {
    background-color: #f67280;
}

.card-3 {
    background-color: #c06c84;
}

.card h2, .card p {
    margin: 0;
    padding: 10px 0;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    background-color: #f1c40f;
}
.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
}

.card-1 {
    background-color: #f8b195;
}

.card-2 {
    background-color: #f67280;
}

.card-3 {
    background-color: #c06c84;
}

.card h2, .card p {
    margin: 0;
    padding: 10px 0;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    background-color: #f1c40f;
}

.bold-text {
    font-weight: bold;
}

.no-data-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #555;
}

.pie-chart-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.pie-chart-title {
    text-align: center;
    margin-bottom: 20px;
}
