.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-form {
    display: center;
    flex-direction: column;
    height: 680px;
    width: 350px;
    padding: 50px;
    border: 3px solid #eaec79;
    border-radius: 10px;
    background-color: #fff;
}

.input-container {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-suggestions {
    color: red;
    font-size: 12px;
}

.signup-button {
    align-items: cen;
    padding: 13px;
    border: none;
    border-radius: 12px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.backup-button {
    align-items: left;
    padding: 15px;
    border: none;
    border-radius: 15px;
    
    color: rgb(197, 13, 214);
    cursor: pointer;
}
/* SignupPage.css */
.signup-container {
    height: 900px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #717981;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container .required  {
    color: red;
}

.input-container .error-message {
    color: red;
}
.input-container .filled  {
    color: rgb(16, 9, 9);
}
.input-field {
    width: 100%;
    padding: 10px
}

.password-field {
    display: flex;
    align-items: center;
}